<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>АСУ-15</title>
</head>

<body>

	
<h1><center>АСУ-15</center></h1>
	<h1><center> Дисциплина. Редактирование или создание </center></h1>
	
	<p></p>
<table width="200" border="0" align="center">
  <tbody>
    <tr height="30" >
     <td width="150"> <center><input type="button" name="button" id="button" value="Профиль"></center> </td>
      <td width="150"> <center><input type="button" name="button" id="button" value="Выйти"></center> </td>
    </tr>
  </tbody>
</table>

	<p></p>
	
	<table width="600" border="0" align="center">
  <tbody>
    <tr>
      <td width="150">Название</td>
      <td><input type="text" size="60"></td>
    </tr>
    <tr>
      <td>Преподаватель</td>
      <td><input type="text" size="60"></td>
    </tr>
    <tr>
      <td>Контакты</td>
      <td><input type="text" size="60"></td>
    </tr>
    <tr>
      <td>Консультации</td>
      <td><input type="text" size="60"></td>
    </tr>
    <tr>
      <td>Зачётная единица</td>
      <td><input type="text" size="60"></td>
    </tr>
    <tr height="50">
      <td>Задание</td>
      <td> <textarea name="comment" cols="61" rows="5"></textarea></p></td>
    </tr>
	 <tr>
      <td>Файлы</td>
      <td></td>
    </tr>
  </tbody>
</table>
<p></p>
<table width="200" border="0" align="center">
  <tbody>
    <tr height="30" >
     <td width="150"> <center><input type="button" name="button" id="button" value="На главную"></center> </td>
      <td width="150"> <center><input type="button" name="button" id="button" value="Сохранить"></center> </td>
    </tr>
  </tbody>
</table>
	<p><center>Исключительные права на продукт принадлежат Филипову Р.А. и Тихоновой В.О.</center></p>
</body>
</html>
