{% load static %}

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>АСУ-15</title>
</head>

<body>

	
<h1><center>АСУ-15</center></h1>
	<h1><center> Справочник учебных материалов </center></h1>
	<p></p>
<table width="200" border="0" align="center">
  <tbody>
    <tr height="30" >
     <td width="150"> <center><input type="button" name="button" id="button" value="Профиль"></center> </td>
      <td width="150"> <center><input type="button" name="button" id="button" value="Выйти"></center> </td>
    </tr>
  </tbody>
</table>
	<p></p>
	<table width="900" border="0" align="center">
  <tbody>
    <tr>
      <td width="170" bgcolor="#D0D0D0"><center>1 курс</center></td>
      <td width="10" ></td>
      <td width="170" bgcolor="#D0D0D0"><center>2 курс</center></td>
      <td width="10"></td>
      <td width="170" bgcolor="#D0D0D0"><center>3 курс</center></td>
      <td width="10" ></td>
      <td width="170" bgcolor="#D0D0D0"><center>4 курс</center></td>
      <td width="10"></td>
      <td width="170" bgcolor="#D0D0D0"><center>5 курс</center></td>
    </tr>
    <tr>
      <td height="300" bgcolor="#D0D0D0"><ul>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  </ul>&nbsp;&nbsp;</td>
      <td >&nbsp;</td>
      <td bgcolor="#D0D0D0"><ul>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  </ul>&nbsp;</td>
      <td>&nbsp;</td>
      <td bgcolor="#D0D0D0"><ul>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  </ul>&nbsp;&nbsp;</td>
      <td>&nbsp;</td>
      <td bgcolor="#D0D0D0"><ul>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  </ul>&nbsp;&nbsp;</td>
      <td>&nbsp;</td>
      <td bgcolor="#D0D0D0"><ul>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  </ul>&nbsp;&nbsp;</td>
    </tr>
   
  </tbody>
</table>
	<p></p>
	<center><input type="button" name="button" id="button" value="Добавить новую дисциплину"></center>

	<p><center>Исключительные права на продукт принадлежат Филипову Р.А. и Тихоновой В.О.</center></p>
</body>
</html>
