<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>АСУ-15</title>
</head>

<body>

	
<h1><center>АСУ-15</center></h1>
	<h1><center> Дисциплина	</center></h1>
	
	<p></p>
	
	<table width="200" border="0" align="center">
  <tbody>
    <tr height="30" >
     <td width="150"> <center><input type="button" name="button" id="button" value="Профиль"></center> </td>
      <td width="150"> <center><input type="button" name="button" id="button" value="Выйти"></center> </td>
    </tr>
  </tbody>
</table>

	<p></p>
	
	<table width="600" border="1" align="center">
  <tbody>
    <tr>
      <td><center>Название дисциплины</center></td>
    </tr>
  </tbody>
</table>
<p></p>
	
	<table width="600" height="150" border="1" align="center">
  <tbody>
    <tr>
      <td><center>Описание дисциплины</center></td>
    </tr>
  </tbody>
</table>
	<p></p>
	
	<table width="600" height="50" border="1" align="center">
  <tbody>
    <tr>
      <td><center>Файлы заданий</center></td>
    </tr>
  </tbody>
</table>
	<p></p>
<table width="600" height="50" border="0" align="center">
	  <tbody>
	   
		  <tr height="30" >
		  		<td width="180"> <center><input type="button" name="button" id="button" value="На главную"></center> </td>
			  <td width="180"> </td>
			  <td width="180"> <left>Изменено дд.мм.гг</left> 
			  <left>Пользователь</left></td> </tr>
      </tbody>
</table>
	<p><center>Исключительные права на продукт принадлежат Филипову Р.А. и Тихоновой В.О.</center></p>
</body>
</html>
